<section class="container pokemon-big">
    <div class="title-container">
        <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        height="25px"
        width="25px"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
        />
      </svg>
  <div>
      <h2>Venusaur</h2>
      <p>003</p>
  </div>
  <div></div>
    </div>
  <img src="/pokemon.webp" alt="" />
  <ag-charts class="chart"
    [options]="chartOptions">
   </ag-charts>
</section>
