<section class="container pokemon-big">
  <div class="title-container">
    <button (click)="onClosePokemon()">
      <svg
        xmlns="http://www.w3.org/2000/svg"
        fill="none"
        viewBox="0 0 24 24"
        stroke-width="1.5"
        stroke="currentColor"
        height="25px"
        width="25px"
      >
        <path
          stroke-linecap="round"
          stroke-linejoin="round"
          d="M10.5 19.5 3 12m0 0 7.5-7.5M3 12h18"
        />
      </svg>
    </button>
    <div>
      <h2>{{ pokemon()?.name }}</h2>
      <p>{{ pokemon()?.id }}</p>
    </div>
    <div></div>
  </div>
  <img [src]="pokemon()?.imgPath" alt="" />
  <h3>Stats</h3>
  <ag-charts class="chart" [options]="chartOptions"> </ag-charts>
</section>
