*, 
*::before,
*::after {
    box-sizing: border-box;
}

* {
    margin: 0;
    padding: 0;
    line-height: 1;
}

body {
    font-family: sans-serif;
    background-color: #F5FBFB;
}

img,
canvas,
svg {
    display: block;
    max-width: 100%;
}

button{
    font: inherit;
    border: none;
    background: none;
    color: inherit;
    cursor: pointer;
}