.pokemon-container{
    display: block;
    text-align: center;
    background-color: #C4E3D4;
    padding: 16px;
    border-radius: 20px;
    width: 100%;

    img{
        width: 100px;
        height: 100px;
        margin-inline: auto;
    }

    h2{
        font-size: 1rem;
        margin-top: 16px;
    }

    h3{
        font-size: 0.8rem;
        margin-top: 8px;
    }
}